<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta charset="utf-8">
  <title>{%- if title -%}{{ title }} | {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
  <style>
    {% postcss %}
    {% include './css/style.css' %}
    {% endpostcss %}
  </style>
{#  <meta name="description" content="{% if page.meta %}{{ page.meta }}{% else %}{{ page.excerpt | truncate_words: 25 | strip_html | strip_newlines }}{% endif %}">#}
  <link rel="canonical" href="{{ page.url }}">
</head>
