<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
  <meta name="description" content="{% if page.meta %}{{ page.meta }}{% else %}{{ page.excerpt | truncate_words: 25 | strip_html | strip_newlines }}{% endif %}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <style>
    {% include style.css %}
  </style>
</head>
