<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta charset="utf-8">
  <title>{{ page.title }} | Bart Jaskulski</title>
  <!-- <meta name="twitter:card" content="summary">
  <link rel="preconnect" href="https://csswizardry.com" crossorigin>
<meta name="twitter:site" content="@csswizardry">
<meta name="twitter:domain" content="csswizardry.com">
<meta name="twitter:creator" content="@csswizardry">
<meta name="twitter:title" content="CSS Architecture and Performance Engineering – CSS Wizardry">
<meta name="twitter:image" content="https://csswizardry.com/logo.png">
<meta name="twitter:description" content="Articles on CSS, OOCSS, front-end architecture, scalability and performance.">
<link rel="alternate" type="application/atom+xml" href="https://feeds.feedburner.com/csswizardry">
<link rel="shortcut icon" href="/icon.png">
<link rel="apple-touch-icon" href="/icon.png">
<meta name="apple-mobile-web-app-title" content="csswizardry">
<meta name="description" content="Articles on CSS, OOCSS, front-end architecture, scalability and performance.">
<link rel="canonical" href="https://csswizardry.com/">
<meta name="theme-color" content="#f43059">
<link rel="manifest" href="/manifest.json">
<link rel="prerender" href="/2020/11/site-speed-topography/" /> -->
  <style>
    {% include style.css %}
  </style>
</head>
