@import "prism-coldark-dark.css";

html {
  margin: auto;
  max-width: 70ch;
  padding: max(12px, 2.5vw);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu,
  Cantarell, Helvetica Neue, sans-serif;
  font-size: clamp(1.1rem, 1.2vw + 1vh, 1.25rem);
  box-sizing: border-box;
  color: var(--text-color, #151617);
  background: var(--background-color, #fff2e6);
  text-rendering: optimizeSpeed;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

/*
 * @see https://type-scale.com/
 * 1.125 Major second
 */
h1 {
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

* {
  line-height: calc(2.5ex + 4px);
}

main > * + * {
  margin: 0.75em auto;
}

a {
  text-decoration: none;
  color: var(--link, #153b66);
}

nav {
  display: flex;
  justify-content: space-between;
  & a {
    padding: 16px;
    border-radius: 8px;

    &:hover,
    &:focus {
      background-color: var(--link-hover-background, rgba(0, 0, 0, 0.05));
    }
  }
}

a:visited {
  color: var(--link-visited, #0c3b70);
}

ul.task-list {
  list-style: none;
  padding: 0;
}

.task-list-item-checkbox {
  margin-right: 12px;
}

code {
  font-family: Consolas, Menlo, Monaco, monospace;
}

body > footer {
  text-align: center;
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #dddfd4;
    --background-color: #151617;
    --link-visited: #9ebfe5;
    --link: #508cd0;
    --link-hover-background: rgba(255, 255, 255, 0.05);
  }
}
